@font-face {
	src: url("/Merriweather-Bold.woff2") format("woff2");
	font-family: "Merriweather";
	font-weight: 700;
	font-display: block;
}

@font-face {
	src: url("/Sanchez-Regular.woff2") format("woff2");
	font-family: "Sanchez";
	font-weight: 400;
	font-display: block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font: inherit;
	font-size: 1.6rem;
	color: var(--text-color);
	border-radius: 0;
}

*:focus {
	outline: var(--outline);
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

a,
button,
input[type="checkbox"] {
	cursor: pointer;
}

html {
	font-size: 62.5%;
	--text-color-bold: rgb(33, 33, 39);
	--text-color: black;
	--text-color-light: rgb(78, 87, 92);
	--bg-color: rgb(251, 250, 255);
	--bg-accent: rgb(255, 231, 128);
	--layout-max-width: 80rem;
	--outline: 1px solid var(--text-color);
}

body {
	background-color: var(--bg-color);
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-family: "Sanchez";
	font-weight: 400;
	color: var(--text-color);
}

h1,
h2,
h3 {
	font-family: "Merriweather";
	font-weight: 700;
	color: var(--text-color-bold);
}

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

img,
svg,
picture,
canvas {
	display: block;
}

#app {
	min-width: 0px;
	max-width: var(--layout-max-width);
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
}

fieldset {
	border: none;
}

canvas {
	touch-action: none;
}

/* BLOG */

fieldset input {
	border: 1px solid var(--text-color-light);
	padding: 0.4rem 1rem;
}

fieldset button {
	background-color: var(--bg-accent);
	border: 1px solid var(--text-color-light);
	padding: 0.4rem 1rem;
}

@media screen and (max-width: 760px) and (orientation: landscape) {
	html {
		--layout-max-width: 60rem;
	}
}
