@font-face {
	src: url("/Merriweather-Bold.woff2") format("woff2");
	font-family: "Merriweather";
	font-weight: 700;
	font-display: block;
}

@font-face {
	src: url("/Sanchez-Regular.woff2") format("woff2");
	font-family: "Sanchez";
	font-weight: 400;
	font-display: block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font: inherit;
}

*:focus {
	outline: 1px solid black;
}

a {
	text-decoration: none;
	color: inherit;
}

a,
button {
	cursor: pointer;
}

html {
	font-size: 62.5%;
	--text-color-bold: rgb(33, 33, 39);
	--text-color: black;
	--bg-color: rgb(251, 250, 255);
	--bg-accent: rgb(255, 231, 128);
	--layout-max-width: 80rem;
}

body {
	background-color: var(--bg-color);
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-family: "Sanchez";
	font-weight: 400;
	color: var(--text-color);
}

h1,
h2,
h3 {
	font-family: "Merriweather";
	font-weight: 700;
	color: var(--text-color-bold);
}

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

img,
svg,
picture,
canvas {
	display: block;
}

#app {
	min-width: 0px;
	max-width: var(--layout-max-width);
	flex-direction: column;
	display: flex;
	margin: 0 auto;
	font-size: 1.6rem;
	padding: 2rem;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.8rem;
}

@media screen and (max-width: 760px) and (orientation: landscape) {
	html {
		--layout-max-width: 60rem;
	}
}
